<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html::header">
</head>
<body>
<div th:replace="fragment/header.html::nav"></div>
<form action="#" th:action="@{/person/add}" th:object="${person}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Prénom : <input type="text" th:field="*{nom}"/></p>
    <p>Nom : <input type="text" th:field="*{prenom}"/></p>
    <p>Annee de naissance : <input type="date" th:field="*{naissance}"/></p>
    <p>Photo : <input type="file" name="photo"/> <span th:text="*{photoPath}">Fichier photo</span></p>
    <input type="submit" value="Valider" />
</form>
<div th:replace="fragment/footer.html::footer"></div>
</body>
</html>