<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html::header">
</head>
<body>
<div th:replace="fragment/header.html::nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img alt="Bootstrap Image Preview" th:src="'/film/affiche/'+${film.getImage_path()}"height="300" width="300" />
        </div>
        <div class="col-md-4">
            <h2 th:text="${film.title}">
                Heading
            </h2>
            <p th:text="${film.summary}">
                resumer du film
            </p>
            <p th:each="genre:${film.getGenreFilm()}" th:text="${genre.name}">
            </p>
            <p th:text="'note ='+${film.rating}">note du film</p>
            <p th:text="'release ='+${film.release}"></p>
            <p th:text="'realisateur ='+${film.film_director.nom}"></p>

        </div>
        <div class="col-md-4">
            <a th:href="'/film/mod/'+${film.id}" >edit</a>
            <a th:href="'/film/delete/'+${film.id}"  onClick="javascript:return confirm('Voulez-vous vraiment supprimer cet élément ?')">delete</a></td>
        </div>
    </div>
    <div th:each="test:${role}" class="row">
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" th:src="'/person/image/'+${test.person.photoPath}" height="150" width="150" />
        </div>
        <div class="col-md-6">
            <h2 th:text="${test.getRank()}+'er role : '+${test.getName()}">
                Heading
            </h2>
            <p th:text="'nom : '+${test.person.nom}">
                nom de l'acteur
            </p>
            <p th:text="'prenom : '+${test.person.prenom}">
                prenom de l'acteur
            </p>
            <p th:text="'date de naissance : '+${test.person.naissance}">prenom de l'acteur</p>

                <a class="btn" th:href="@{'/acteur/'+${test.person.getPhotoPath()}}">View details »</a>
            </p>
        </div>
    </div>
</div>
<div th:replace="fragment/footer.html::footer"></div>
</body>

</html>